*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color:black
}

.backgr{
    height:50vh;
    width:100%;
    background-image:url(./images/hey.webp);


}
.backgr h1{
    text-align: center;
    color:transparent;
    
    font-family: 'Yesteryear', cursive;
    padding-top:100px;
    font-size:100px;
     background:  linear-gradient(90deg,#3a86ff,#8338ec,#ff006e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  

}

.planets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    
}
.planets p{
    margin-left: 70px;
    text-align: center;
    font-size:40px;
    color:cornsilk;
    padding-top:60px;
    padding-left:100px;
    padding-bottom:80px;
    
}
.mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune{
    margin-top: 50px;
    width:45%;
    height:50%;
    box-sizing: border-box;
    border:2px solid #ff006e;
    color: white;
    text-align:right;
    font-size:20px;
padding: 15px;
    

}


.mercury ul, .venus ul, .earth ul, .mars ul, .jupiter ul, .saturn ul, .uranus ul, .neptune ul{
    list-style:circle;
    text-align: left;
    font-size:23px;

}
.mercury h2, .venus h2, .earth h2, .mars h2, .jupiter h2, .saturn h2, .uranus h2, .neptune h2{
    text-align: center;
    color:#ff006e;
    margin-top:5px;
}
.mercury a, .venus a, .earth a, .mars a, .jupiter a, .saturn a, .uranus a, .neptune a{

font-size:25px;
    text-decoration:none;
    color:#9772FB;
    font-weight:bolder;
    transition:all 0.5s;
    padding: 100px;

}

.mercury a:hover, .venus a:hover, .earth a:hover, .mars a:hover, .jupiter a:hover, .saturn a:hover, .uranus a:hover, .neptune a:hover{
    color:turquoise;
font-size:28px;

}

.mercury img, .venus img, .earth img, .mars img, .jupiter img, .saturn img, .uranus img, .neptune img{
float:left;
margin-right:22px;
}

/* .mars img{
    width: 200px;
    height: 200px;

}
.uranus img{
    padding-bottom: 30px;
}

.venus img{
    padding-bottom: 30px;
} */

